@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
body,
html {
  background-color: #000;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  -webkit-animation: slide-menu 0.3s ease-in-out forwards;
          animation: slide-menu 0.3s ease-in-out forwards;
}

body a,
html a {
  text-decoration: none;
}

header {
  padding: 2em;
}

header .logo {
  color: #fff;
  font-weight: bold;
}

header .logo img {
  width: 200px;
}

header .menu-btn {
  width: 30px;
  float: right;
  cursor: pointer;
}

section {
  padding: 4em;
}

section h1 {
  font-size: 3em;
  margin: 1em auto;
  color: #fff;
  width: 70%;
}

section h1::before {
  content: " ";
  border-top: 5px solid rgba(153, 153, 153, 0.5);
  display: block;
}

nav {
  position: absolute;
  background: black;
  background: -webkit-gradient(linear, left bottom, left top, from(black), to(#262626));
  background: linear-gradient(0deg, black 0%, #262626 100%);
  padding: 2em;
  width: calc(100% - 4em);
  height: calc(100vh - 4em);
  display: none;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
}

nav .close-btn {
  width: 30px;
  float: right;
  cursor: pointer;
}

nav ul {
  list-style-type: none;
  margin: 10% auto 0 auto;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25%)[4];
      grid-template-columns: repeat(4, 25%);
  width: 80%;
}

nav ul h2 {
  color: #fff;
  font-weight: bold;
  font-size: 1.5em;
}

nav ul h2.underline {
  position: relative;
}

nav ul h2.underline:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffffff;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

nav ul h2.underline:hover:before {
  visibility: visible;
  width: 100%;
}

nav ul span {
  color: rgba(153, 153, 153, 0.8);
  display: block;
  font-size: 0.95em;
  margin-top: 5px;
  margin-bottom: 35px;
}

nav ul li {
  opacity: 0;
  margin: 10px auto;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

nav ul li:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.show-menu {
  display: block;
  -webkit-animation: slide-menu 0.7s ease-in-out forwards;
          animation: slide-menu 0.7s ease-in-out forwards;
}

.show-menu .close-btn {
  -webkit-animation: show-x 1s forwards;
          animation: show-x 1s forwards;
}

.show-menu li:nth-of-type(1) {
  -webkit-animation: menu-item-anim 0.6s forwards 0.5s ease-in-out;
          animation: menu-item-anim 0.6s forwards 0.5s ease-in-out;
}

.show-menu li:nth-of-type(2) {
  -webkit-animation: menu-item-anim 0.6s forwards 0.6s ease-in-out;
          animation: menu-item-anim 0.6s forwards 0.6s ease-in-out;
}

.show-menu li:nth-of-type(3) {
  -webkit-animation: menu-item-anim 0.6s forwards 0.7s ease-in-out;
          animation: menu-item-anim 0.6s forwards 0.7s ease-in-out;
}

.show-menu li:nth-of-type(4) {
  -webkit-animation: menu-item-anim 0.6s forwards 0.8s ease-in-out;
          animation: menu-item-anim 0.6s forwards 0.8s ease-in-out;
}

.show-menu li:nth-of-type(5) {
  -webkit-animation: menu-item-anim 0.6s forwards 0.9s ease-in-out;
          animation: menu-item-anim 0.6s forwards 0.9s ease-in-out;
}

.show-menu li:nth-of-type(6) {
  -webkit-animation: menu-item-anim 0.6s forwards 1s ease-in-out;
          animation: menu-item-anim 0.6s forwards 1s ease-in-out;
}

.show-menu li:nth-of-type(7) {
  -webkit-animation: menu-item-anim 0.6s forwards 1.1s ease-in-out;
          animation: menu-item-anim 0.6s forwards 1.1s ease-in-out;
}

/*=================== ANIMATIONS ===================*/
@-webkit-keyframes slide-menu {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
@keyframes slide-menu {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes show-x {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes show-x {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes menu-item-anim {
  0% {
    opacity: 1;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  3.2% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 53.039, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 53.039, 0, 1);
  }
  6.41% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 66.07, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 66.07, 0, 1);
  }
  12.71% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 42.502, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 42.502, 0, 1);
  }
  18.92% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 13.815, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 13.815, 0, 1);
  }
  25.23% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.262, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.262, 0, 1);
  }
  31.43% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -3.145, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -3.145, 0, 1);
  }
  56.46% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.15, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.15, 0, 1);
  }
  81.48% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.007, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.007, 0, 1);
  }
  100% {
    opacity: 1;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

@keyframes menu-item-anim {
  0% {
    opacity: 1;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  3.2% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 53.039, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 53.039, 0, 1);
  }
  6.41% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 66.07, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 66.07, 0, 1);
  }
  12.71% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 42.502, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 42.502, 0, 1);
  }
  18.92% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 13.815, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 13.815, 0, 1);
  }
  25.23% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.262, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.262, 0, 1);
  }
  31.43% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -3.145, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -3.145, 0, 1);
  }
  56.46% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.15, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.15, 0, 1);
  }
  81.48% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.007, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.007, 0, 1);
  }
  100% {
    opacity: 1;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

/*=================== RESPONSIVE ===================*/
@media only screen and (max-width: 845px) {
  nav ul {
    list-style-type: none;
    margin: 10% auto 0 auto;
    padding: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (33.33%)[3];
        grid-template-columns: repeat(3, 33.33%);
    width: 80%;
  }
}

@media only screen and (max-width: 650px) {
  nav ul {
    list-style-type: none;
    margin: 10% auto 0 auto;
    padding: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
    width: 80%;
  }
}

/*========= EM TESTE ========= */
@media only screen and (max-width: 450px) {
  nav {
    height: 100vh;
    margin: 0;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  nav li {
    margin: 0;
    padding: 0;
  }
}
/*# sourceMappingURL=navmenu.css.map */